:root {
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    font-family: Public Sans;
    width: 375px;
}

.banner {
    background-color: var(--White);
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
}

.hamburger-menu {
    cursor: pointer;
    width: 24px; /* Width of the hamburger icon */
    height: 10px; /* Adjust height to fit the three lines */
    display: flex;
    flex-direction: column; /* Stack the lines vertically */
    justify-content: space-between; /* Space between the lines */
}

.bar {
    height: 7%; /* Height of each line */
    background-color: var(--Dark-Blue); /* Color of the lines */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

/* Dropdown styles */
.dropdown-content {
    display: none; /* Hide dropdown by default */
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    margin-top: 5px;
    padding: 10px 0; /* Add some padding */
}

.dropdown-content a {
    display: block; /* Make links take full width */
    padding: 8px 16px; /* Padding for links */
    color: #333; /* Link color */
    text-decoration: none; /* Remove underline */
}

.dropdown-content a:hover {
    background-color: #f1f1f1; /* Highlight on hover */
}

/* Show dropdown when active */
.dropdown.active .dropdown-content {
    display: block; /* Show the menu when active */
}

.hidden {
    display: none;
}

.intro > .intro-description {
    background-image: url('images/bg-intro-mobile.svg');
    height: 26rem;
}

.reasons {
    background-color: var(--Light-Grayish-Blue);
    text-align: center;
}

.articles {
    background-color: var(--Very-Light-Gray);
}

.article-pics {
    max-width: 375px;
}

footer {
    background-color: var(--Dark-Blue);
    text-align: center;
}

.dropdown-footer > ul {
    list-style-type: none;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}