:root {
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    font-family: Public Sans;
    width: 375px;
}

.banner {
    position: relative;
    z-index: 1;
    background-color: var(--White);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem;
}

.hamburger-menu {
    cursor: pointer;
    width: 21px;
    height: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    margin-left: 11.5rem;
}

.bar {
    height: 7%;
    background-color: var(--Dark-Blue);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    z-index: 1;
    margin: 3.25rem 0 0 -8.75rem;
    padding: 1.25rem;
    text-align: center;
    width: 325px;
}

.dropdown-content a {
    display: block;
    padding: 0.75rem;
    color: var(--Grayish-Blue);
    font-size: 1.08rem;
}

.dropdown-content a:hover {
    color: var(--Dark-Blue);
    cursor: pointer;
}

.dropdown.active .dropdown-content {
    display: block;
}

.hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
}

.hidden {
    display: none;
}

.mockups {
    position: absolute;
    margin-left: 1.5rem;
    z-index: 0;
    transform: translateY(-7.2rem)
}

.intro > .intro-container {
    background-image: url('images/bg-intro-mobile.svg');
    background-position: center -4.5rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.intro {
    height: 28rem;
}

.intro-container {
    padding-top: 19rem;
    text-align: center;
}

.reasons {
    background-color: var(--Light-Grayish-Blue);
    text-align: center;
}

.articles {
    background-color: var(--Very-Light-Gray);
}

.article-pics {
    max-width: 375px;
}

footer {
    background-color: var(--Dark-Blue);
    text-align: center;
}

.dropdown-footer > ul {
    list-style-type: none;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}