:root {
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    font-family: Public Sans;
    width: 22.5rem;
}

.banner {
    position: relative;
    z-index: 1;
    background-color: var(--White);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.25rem;
}

.hamburger-menu {
    cursor: pointer;
    width: 1.35rem;
    height: 0.7rem;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    margin-left: 10rem;
}

.bar {
    height: 14%;
    background-color: var(--Dark-Blue);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    z-index: 1;
    margin: 2.4rem 0 0 -8.35rem;
    padding: 1.25rem;
    text-align: center;
    width: 19.5rem;
}

.dropdown-content a {
    display: block;
    padding: 0.75rem;
    color: var(--Grayish-Blue);
    font-size: 1.08rem;
}

.dropdown-content a:hover {
    color: var(--Dark-Blue);
    cursor: pointer;
}

.dropdown.active .dropdown-content {
    display: block;
}

#close-icon {
    cursor: pointer;
    width: 1rem;
    margin-left: 10.155rem;
}

.hidden {
    display: none;
}

.mockups {
    position: relative;
    margin-left: 1.5rem;
    z-index: 0;
    transform: translateY(-7.2rem);
}

.intro-background {
    background-image: url('images/bg-intro-mobile.svg');
    background-position: center -4.5rem;
    background-repeat: no-repeat;
    background-color: var(--Very-Light-Gray);
}

.intro-container {
    background-color: var(--Very-Light-Gray);
    text-align: center;
    margin-top: -6rem;
}

.intro-header {
    color: var(--Dark-Blue);
    font-weight: 300;
    font-size: 2.5rem;
}

.intro-description {
    color: var(--Grayish-Blue);
    padding: 1rem 1.25rem;
    font-size: 0.95rem;
    line-height: 1.6rem;
}

.intro-button {
    background: linear-gradient(75deg, var(--Lime-Green), var(--Bright-Cyan));
    color: var(--Light-Grayish-Blue);
    font-weight: 700;
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: 2rem;
    margin: 0.95rem auto 5rem;
}

.reasons {
    background-color: var(--Light-Grayish-Blue);
    text-align: center;
    padding: 4rem 0.75rem 2rem;
}

.reasons-introduction {
    padding-bottom: 1.75rem;
}

.reasons-header {
    color: var(--Dark-Blue);
    font-weight: 300;
    font-size: 1.95rem;
    padding: 0 1rem 0;
}

.reasons-sub-header {
    color: var(--Dark-Blue);
    font-weight: 300;
    font-size: 1.15rem;
    padding-top: 1.25rem;
}

.reasons-description {
    color: var(--Grayish-Blue);
    padding: 1rem 1rem 1.75rem 1rem;
    font-size: 0.85rem;
    line-height: 1.6rem;
}

.articles {
    background-color: var(--Very-Light-Gray);
    padding: 1.25rem 1.45rem 4rem;
}

.articles-introduction {
    padding: 3.5rem 0 1.85rem;
}

.articles-header {
    color: var(--Dark-Blue);
    text-align: center;
    font-weight: 300;
    font-size: 1.95rem;
}

.article-pics {
    max-width: 100%;
    border-radius: 0.25rem 0.25rem 0 0;
}

.article {
    background-color: var(--White);
    border-radius: 0.25rem;
    margin-bottom: 1.4rem;
}

.articles-content {
    padding: 1.5rem;
}

.articles-author {
    color: var(--Grayish-Blue);
    font-size: 0.65rem;
    padding: 0.25rem 0 0.65rem;
}

.articles-sub-header {
    color: var(--Dark-Blue);
    font-size: 1rem;
    font-weight: 400;
}

.articles-description {
    color: var(--Grayish-Blue);
    font-size: 0.78rem;
    line-height: 1.1rem;
    padding: 0.65rem 0 1rem;
}

footer {
    background-color: var(--Dark-Blue);
    text-align: center;
}

.dropdown-footer > ul {
    color: var(--Light-Grayish-Blue);
    list-style-type: none;
}

.footer-button {
    background: linear-gradient(75deg, var(--Lime-Green), var(--Bright-Cyan));
    color: var(--Light-Grayish-Blue);
    font-weight: 700;
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: 2rem;
}

.footer-rights {
    color: var(--Grayish-Blue);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}